<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_AvaTax>
            <version>1.0.0</version>
        </Aoe_AvaTax>
    </modules>
    <global>
        <blocks>
            <Aoe_AvaTax>
                <class>Aoe_AvaTax_Block</class>
            </Aoe_AvaTax>
            <adminhtml>
                <rewrite>
                    <tax_class_grid>Aoe_AvaTax_Block_Adminhtml_Tax_Class_Grid</tax_class_grid>
                    <tax_class_edit_form>Aoe_AvaTax_Block_Adminhtml_Tax_Class_Edit_Form</tax_class_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <Aoe_AvaTax>
                <class>Aoe_AvaTax_Helper</class>
            </Aoe_AvaTax>
        </helpers>
        <models>
            <Aoe_AvaTax>
                <class>Aoe_AvaTax_Model</class>
                <resourceModel>Aoe_AvaTax_Resource</resourceModel>
            </Aoe_AvaTax>
            <Aoe_AvaTax_Resource>
                <class>Aoe_AvaTax_Resource</class>
                <entities>
                    <Log>
                        <table>aoe_avatax_log</table>
                    </Log>
                </entities>
            </Aoe_AvaTax_Resource>
        </models>
        <resources>
            <Aoe_AvaTax>
                <setup>
                    <module>Aoe_AvaTax</module>
                </setup>
            </Aoe_AvaTax>
        </resources>
        <sales>
            <quote>
                <totals>
                    <tax_subtotal>
                        <class>Aoe_AvaTax/Sales_Quote_Address_Total_Tax_Subtotal</class>
                    </tax_subtotal>
                    <tax_shipping>
                        <class>Aoe_AvaTax/Sales_Quote_Address_Total_Tax_Shipping</class>
                    </tax_shipping>
                    <tax>
                        <class>Aoe_AvaTax/Sales_Quote_Address_Total_Tax</class>
                    </tax>
                </totals>
                <nominal_totals>
                    <nominal_tax_subtotal>
                        <class>Aoe_AvaTax/Sales_Quote_Address_Total_Nominal_Subtotal</class>
                    </nominal_tax_subtotal>
                    <nominal_tax>
                        <class>Aoe_AvaTax/Sales_Quote_Address_Total_Nominal_Tax</class>
                    </nominal_tax>
                </nominal_totals>
            </quote>
            <order_invoice>
                <totals>
                    <tax>
                        <class>Aoe_AvaTax/Sales_Invoice_Total_Tax</class>
                        <after>subtotal</after>
                    </tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <tax>
                        <class>Aoe_AvaTax/Sales_Creditmemo_Total_Tax</class>
                        <after>subtotal</after>
                    </tax>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <Aoe_AvaTax>
                    <file>Aoe_AvaTax.xml</file>
                </Aoe_AvaTax>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_AvaTax>
                    <files>
                        <default>Aoe_AvaTax.csv</default>
                    </files>
                </Aoe_AvaTax>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Aoe_AvaTax>
                    <file>Aoe_AvaTax.xml</file>
                </Aoe_AvaTax>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_AvaTax>
                    <files>
                        <default>Aoe_AvaTax.csv</default>
                    </files>
                </Aoe_AvaTax>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <tax>
            <classes>
                <shipping_tax_class>4</shipping_tax_class>
            </classes>
            <aoe_avatax>
                <mode>sandbox</mode>
                <debug>1</debug>
                <production_url>https://avatax.avalara.net</production_url>
                <sandbox_url>https://development.avalara.net</sandbox_url>
                <api_timeout>60</api_timeout>
                <api_cache_timeout>3600</api_cache_timeout>
                <account></account>
                <license></license>
                <log_clean_schedule>0 0 * * *</log_clean_schedule>
                <register_invoices_schedule>*/5 * * * *</register_invoices_schedule>
                <register_invoices_batch>25</register_invoices_batch>
                <register_creditmemos_schedule>*/5 * * * *</register_creditmemos_schedule>
                <register_creditmemos_batch>25</register_creditmemos_batch>
            </aoe_avatax>
        </tax>
    </default>
    <crontab>
        <jobs>
            <aoe_avatax_cleanlog>
                <schedule>
                    <config_path>tax/aoe_avatax/log_clean_schedule</config_path>
                </schedule>
                <run>
                    <model>Aoe_AvaTax/Observer::cleanLog</model>
                </run>
            </aoe_avatax_cleanlog>
            <aoe_avatax_registerinvoices>
                <schedule>
                    <config_path>tax/aoe_avatax/register_invoices_schedule</config_path>
                </schedule>
                <run>
                    <model>Aoe_AvaTax/Observer::registerInvoices</model>
                </run>
            </aoe_avatax_registerinvoices>
            <aoe_avatax_registercreditmemos>
                <schedule>
                    <config_path>tax/aoe_avatax/register_creditmemos_schedule</config_path>
                </schedule>
                <run>
                    <model>Aoe_AvaTax/Observer::registerCreditmemos</model>
                </run>
            </aoe_avatax_registercreditmemos>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Aoe_AvaTax/>
            </modules>
            <groups>
                <resources>Resource</resources>
            </groups>
        </suite>
    </phpunit>
</config>
